@charset "UTF-8";

/* importação de fontes */
/* fonte externa */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* fonte local */
@font-face {
    font-family: 'idroid';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}



:root {
    /*tema de cores do site*/
    --cor0:#01DC60;
    --cor1:#1DB15D;
    --cor2:#2D8654;
    --cor3:#2E5C42;
    --cor4:#365041;
    --cor5:#2B332E;

    /*fontes do site*/
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive0';
    --fonte-android: 'idroid', 'cursive';

}

* {
    margin: 0%;
    padding: 0px;
}


strong {
    color: var(--cor3);
    font-weight: bolder;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);

}

header {
    font-family: var(--fonte-destaque);
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor4));
    min-height: 130px;
    color: white;
    text-align: center;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 5);
    
    
}
header h1 {
    font-family: var(--fonte-destaque);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 3em;
    
    
}

header p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
}


a {
    color: white;
    text-decoration: none;
}

nav {
    background-color: var(--cor4);
    box-shadow: 0px 2px 2px 0px hsla(0, 0%, 0%, 0.5);
    padding: 5px;
}

nav a {
    padding: 5px;
    border-radius: 5px;
    transition-duration: 150ms;

}


nav a:hover {
    background-color: var(--cor2);


}



main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 2em;
    font-size: 1em;
    line-height: 1em;
}


main a {
    color: var(--cor2);
    
}

main a:hover{
    text-decoration: underline;
}

a.externo::be {
    content: '🔗';
}

main img {
    display: block;
    margin: auto;
    width: 100%;
}
main img.pequena {
    display: block;
    max-width: 350px;
    margin: auto;
}

main source.pequena {
    display: block;
    max-width: 350px;
    margin: auto;
}



main h1, h2 {
    color: var(--cor3);
    font-family: var(--fonte-android);
}

main h2 {
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-size: 1.2em;
    text-indent: .5em;
}

aside {
    background-color: rgb(212, 248, 212);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.5);
}

aside h3 {
    background-color: #2E5C42;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    text-indent: 1em;
    color: white;
}

aside p {
    color: black;
}

ul {
    color: black;
    list-style-position: inside;
    columns: 2;
    list-style-type: '✔️ '; /* check mark com um espaço*/
}



footer {
    background-color: var(--cor5);
    color: var(--cor0);
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    font-weight: bolder;

}

footer a:hover {
    text-decoration: underline;

}


div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}

div.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}